/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    cfdna-fragmentomics-pipeline Configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    DEFAULT PARAMETERS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    // Input/output
    input               = 'assets/samplesheet.csv'
    outdir              = 'results'

    // Reference genome
    genome              = 'hg19'
    bwa_index           = "${projectDir}/ref"  // path to BWA index, must be provided by user

    // Fragment length filtering
    min_mapq            = 20
    min_frag            = 100
    max_frag            = 220

    // Boilerplate
    help                = false
    publish_dir_mode    = 'copy'
    trace_report_suffix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    EXECUTION PROFILES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

profiles {
    docker {
        docker.enabled      = true
        docker.runOptions   = '-u $(id -u):$(id -g)'
    }
    test {
        params.outdir       = 'results/test'
        params.genome       = 'chr22'
        params.bwa_index    = "${projectDir}/ref"
    }
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    PROCESS DEFAULTS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode
    ]

    withLabel: 'process_single' {
        cpus    = 1
        memory  = '4 GB'
        time    = '1 h'
    }

    withLabel: 'process_medium' {
        cpus    = 4
        memory  = '8 GB'
        time    = '2 h'
    }
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    REPORTING
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/trace.txt"
}